# Compiled source #
###################
*.dcu
*.obj
*.exe
*.bpl
*.bpi
*.dcp
*.rsm
*.stat
*.map

# Backup files    #
###################
*.~*
/__history

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.otares
*.drc
*.res

# Output Folders  #
###################
/Output/**
Source/Win32

# mixed hg/git Folders  #
.hg**

# External libs  #
Source/Libs

# Local package cache  #
.packages
*.fb8lck
*.fbpbrk
*.rsb
*.fbpInf
*.fbl8
