# Compiled source #
###################
*.dcu
*.obj
*.exe
*.bpl
*.bpi
*.dcp
*.rsm
*.stat
*.map

# Backup files    #
###################
*.~*
/__history

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.otares
*.drc
*.res
# Output Folders  #
###################
/Output/**
Source/Win32

# mixed hg/git Folders  #
.hg**

# External libs  #
Source/Libs

# Local package cache  #
.packages
*.fb8lck
*.fbpbrk
*.rsb
*.fbpInf
*.fbl8
Source/DPM.IDE.D100.rc
Source/DPM.IDE.D101.rc
Source/DPM.IDE.D102.rc
Source/DPM.IDE.D103.rc
Source/DPM.IDE.D104.rc
Source/DPM.IDE.XE2.rc
Source/DPM.IDE.XE3.rc
Source/DPM.IDE.XE4.rc
Source/DPM.IDE.XE5.rc
Source/DPM.IDE.XE6.rc
Source/DPM.IDE.XE7.rc
Source/DPM.IDE.XE8.rc
Source/dpm.rc

!.gitignore
Source/IDE/DPM.IDE.Resources.res
Source/dpm.core.tests.rc
Source/dpm.used
*.used
*.cfg
Source/IDE/EditorView/__recovery
Packages
Source/DSpecCreator/__recovery
*.user
