ADD_PACKAGE_16 RCDATA "..\\images\\add_16px.png"
REMOVE_PACKAGE_16 RCDATA "..\\images\\remove_16px.png"
ADD_PACKAGE_24 RCDATA "..\\images\\add_24px.png"
ADD_PACKAGE_32 RCDATA "..\\images\\add_32px.png"
ADD_PACKAGE_48 RCDATA "..\\images\\add_48px.png"
REMOVE_PACKAGE_24 RCDATA "..\\images\\remove_24px.png"
REMOVE_PACKAGE_32 RCDATA "..\\images\\remove_32px.png"
REMOVE_PACKAGE_48 RCDATA "..\\images\\remove_48px.png"
MOVE_UP_16 RCDATA "..\\images\\move-up_16px.png"
MOVE_UP_24 RCDATA "..\\images\\move-up_24px.png"
MOVE_UP_32 RCDATA "..\\images\\move-up_32px.png"
MOVE_UP_48 RCDATA "..\\images\\move-up_48px.png"
MOVE_DOWN_16 RCDATA "..\\images\\move-down_16px.png"
MOVE_DOWN_24 RCDATA "..\\images\\move-down_24px.png"
MOVE_DOWN_32 RCDATA "..\\images\\move-down_32px.png"
MOVE_DOWN_48 RCDATA "..\\images\\move-down_48px.png"
OPEN_16 RCDATA "..\\images\\open_16px.png"
OPEN_24 RCDATA "..\\images\\open_24px.png"
OPEN_32 RCDATA "..\\images\\open_32px.png"
OPEN_48 RCDATA "..\\images\\open_48px.png"
SPDX RCDATA "Resources\\spdx-licenses.txt"
