MAINICON ICON "I:\\Github\\DelphiPackageManager\\DPMMaster\\Source\\images\\dpm.ico"
/*
Include manifest xml for XP/Vista
*/
1 24 "I:\\Github\\DelphiPackageManager\\DPMMaster\\Source\\dpmManifest.xml"
Windows10 VCLSTYLE "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\22.0\\Styles\\Windows10.vsf"
1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEFLAGSMASK 0x3FL
FILEFLAGS 0x00L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x00L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
         BLOCK "0C0904E4"
         BEGIN
              VALUE "LegalCopyright", "© 2019 -2025 Vincent Parrett and Contributors\0"
              VALUE "ProductName", "DSpec Creator for DPM Package Manager\0"
              VALUE "ProductVersion", "0.2.0-alpha\0"
              VALUE "CompileDate", "Saturday, 15 March 2025 2:51 PM\0"
              VALUE "FileVersion", "0.2.0.0\0"
         END
    END
    BLOCK "VarFileInfo"
    BEGIN
         VALUE "Translation", 0x0C09, 1252
    END
END
